#main-footer {
    padding: 117px 0 80px;
    section {
        float: left;
        color: #fff;
        width: 30%;
        margin-right: 4%;
        &:nth-of-type(3n) {
            margin-right: 0;
        }
        h4 { padding-bottom: 11px; color: #fff; font-weight: 800; }


    }
}


@media only screen and ( max-width: 767px ) {
    #main-footer {
        section { 
            width: 440px; 
            float: None;
        }
    }
}
