{% extends "base.html" %}
{% block footer %}
    <section>
        <h4>
            Dolor voluptatibus?
        </h4>
        <div>
            Dolor totam aut saepe harum neque ipsam! Fugiat quos cum inventore amet corporis aut, id fugiat sequi? Quasi esse nesciunt alias dolores quo. Magnam exercitationem optio iure quas saepe sequi.
        </div>
    </section>
    <section>
        <h4>
            Adipisicing fugit.
        </h4>
        <div>
            Lorem ullam deleniti tempore perferendis elit et! Quasi perferendis officia fuga aspernatur cum. Sint est recusandae hic in illum? Ea repellat tempora atque corrupti debitis reprehenderit. Velit dolore eveniet nostrum.
        </div>
    </section>
    <section>
        <h4>
            Adipisicing architecto.
        </h4>
        <div>
            Ipsum porro magni id illo eum aperiam tempore recusandae voluptate quam dolore, ipsa. Aperiam distinctio vitae porro non rerum. Nesciunt ad qui odio sint hic quasi pariatur. Quidem nobis repudiandae.
        </div>
    </section>

{% endblock %}
