{% load static wagtailuserbar navtags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{# Global stylesheets #}
{# Local static assets such as css, images and javascrpt should be stored at [yourapp]/static/[yourapp]/... #}
</head>

<body class="{% block body_class %}{% endblock %}">
{% block main_header %}
    <header id="main-header">
        <section id="top-menu">
            <div class="container">
                {% block top_menu %}
                    {% topmenu parent=request.site.root_page currentpage=self %}
                {% endblock %}
            </div>
        </section> <!-- #top-menu -->
        <section id="top-area">
            <div class="container">
                {% block top_area %} {% endblock %}
            </div>
        </section> <!-- #top-area -->
    </header>
{% endblock %}


<main>
{# {% wagtailuserbar %} #}
{% block content %}{% endblock %}
</main>

<footer id="main-footer">
    <div class="container">
        {% block footer %}
          {% footer %}
        {% endblock %}
    </div>
</footer>

{# Global javascript #}
<script type="text/javascript" src="{% static 'scripts/bundle.js' %}"></script>

{% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
{% endblock %}
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
