@import "~material-design-lite/src/material-design-lite.scss";
@import "~material-design-lite/src/_variables.scss";

//reset figure, section
figure, section {
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
}

.layout-container {
    max-width: 960px;
}
.layout-container--no-grid {
  @extend .mdl-grid;
  display: block;
  margin: auto;
}
.layout-section {
    padding-top: 115px;
}
@media (max-width: $grid-tablet-breakpoint - 1) {
    .layout-section {
        padding-top: 78px;
    }
}
.layout-section--darker {
    @extend .layout-section;
    background-color: #fafafa;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.layout-section--darkest {
    @extend .layout-section;
    background-color: #e9e9e9;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

@media (max-width: $grid-desktop-breakpoint - 1) {
    .navigation {
        display: none;
    }
}
.layout-title--link {
    color: white;
    text-decoration: none;
}
.mdl-layout__drawer .layout-title--link {
    color: #424242;
    text-decoration: none;
}
.mega-footer__social-btn--vk {
    background: url(./images/vk-logo.png) center/contain no-repeat transparent;
}
.mega-footer__social-btn--fb {
    background: url(./images/fb-logo.svg) center/contain no-repeat transparent;
}
.mega-footer__social-btn--gplus {
    background: url(./images/gplus-logo.svg) center/contain no-repeat transparent;
}
.project-thumb {
    width: 100%;
    height: auto;
}

//Top area (from Vertex)

.top-area {
    text-align: center;
    background: top center/cover no-repeat fixed;
    padding: 127px 10vw 68px;
}
.top-area__title {
    color: white;
}
.top-area__subtitle {
    background-color: #c24c4c;
    color: white;
    text-transform: uppercase;
    padding: 15px 32px 17px;
    margin: 0 auto 60px;
    display: inline-block;
}

//Rich text styles
.rich-text {
    h2 {
        @extend .mdl-typography--display-1-color-contrast
    }
    h4 {
        @extend .mdl-typography--subhead-color-contrast
    }
    h3 {
        @extend .mdl-typography--headline
    }
    h5 {
        @extend .mdl-typography--title-color-contrast
    }

}
