{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <style type="text/css" media="screen">
    #top-area, #pre-footer { background-image: url({{ page.top_image.file.url }}); }
  </style>
{% endblock %}
{% block top_area %}

  <h1 class="title">{{ page.title }}</h1>

{% endblock %}

{% block content %}
  <section class="home-block">
    <div class="container">
      {{ page.description|richtext }}
    </div>
  </section>
  <section class="home-block">
      <div class="container">
          {% include "includes/gallery.html" with gallery_items=self.gallery_items.all only %}
      </div>
  </section>
{% endblock %}
